MARIADB_ROOT_PASSWORD=du147852.
MARIADB_DATABASE=news
MARIADB_USER=newsapp
MARIADB_PASSWORD=newsapp123
DOMAIN=ai.xerduo.com
JWT_SECRET=tznmOuuIZe6nppyWZpMXbq+72IzRdLFnTLv5E9PyS+8=
ADMIN_PASSWORD=du111.
